
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <img src="static/img/icon.png"/>
            </div>
            <ul class="nav nav-pills pull-right col-md-9" >
                <li class=" col-md-2 pull-right"  ng-mousemove="menuOver(0)" ng-click="menuClick(0)" ng-mouseleave="menuLeave(0)"><a href="#">联系我们</a>
                    <div class="" ng-class="{'active':menu[0]}"></div>
                </li>
                <li class=" col-md-2 pull-right" ng-mousemove="menuOver(1)" ng-click="menuClick(1)" ng-mouseleave="menuLeave(1)">
                    <a href="#">产品服务</a>  <div class="" ng-class="{'active':menu[1]}"></div></li>

                <li class=" col-md-2 pull-right" ng-mousemove="menuOver(2)"  ng-click="menuClick(2)" ng-mouseleave="menuLeave(2)">
                    <a href="#">关于果说</a>  <div class="" ng-class="{'active':menu[2]}"></div></li>

                <li class=" col-md-2 pull-right" ng-mousemove="menuOver(3)" ng-click="menuClick(3)" ng-mouseleave="menuLeave(3)">
                    <a href="#">首页</a>
                  <div class="" ng-class="{'active':menu[3]}"></div>
                </li>
            </ul>

        </div>

    </div>

</div>